.characters{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif;
}

.Character{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease;
    margin: 2% 0;
}

.Character h2{
    font-size: 2.5vw;
    font-weight: 900;
    color: var(--ghostWhite);
    text-shadow: var(--fireBrick) 2px 2px 2px;
    margin-top: -5%;
}

a{
    text-decoration: none;
}

.Character img{
    width: 50%;
}

.Character img:hover{
    cursor: pointer;
    filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.19));
}

.Character:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.filters{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.filter{
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.filter label{
    font-size: 1.5vw;
    font-weight: 900;
    color: var(--ghostWhite);
    text-shadow: var(--cobaltBlue) 2px 2px 2px;
    margin: 0 2%;
}

.filter select{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    color: var(--ghostWhite);
    text-shadow: var(--cobaltBlue) 2px 2px 2px;
    background-color: var(--cobaltBlue);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    height: 2vw;
    width: 15vw;
}

.filter .abilitiesFilter{
    height: 10vw;
}