.profile{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;

}

.image{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.3s ease;
    margin: 5vw 0;
}

.image img{
    width: 60%;
}

.image h2{
    font-size: 3vw;
    font-weight: 900;
    color: var(--ghostWhite);
    text-shadow: var(--cobaltBlue) 2px 2px 2px;
    margin-top: -5%;
}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease;
    margin: 2% 0;
}

.info{
    font-size: 1.5vw;
}

.info h4{
    display: flex;
    font-size: 1.5vw;
    font-weight: 700;
    color: var(--ghostWhite);
    text-shadow: var(--fireBrick) 2px 2px 2px;
    margin: 0.5vw 0;
}

.info ul p{
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
}

.info ul p a{
    text-decoration: none;
    color: var(--platinum);
}

.info .powersweaknesses{
    display: flex;
}

.info .powersweaknesses .powers{
    margin-right: 5%;
}

.info .alliesenemies{
    display: flex;
}

.info .alliesenemies .allies{
    margin-right: 5%;
}